<% @page_title = 'Editing server' -%>

<div class="span6 offset3">
	<div class="well">

		<%= render 'form' %>

		<%= link_to 'Show', @server %> |
		<%= link_to 'Back', servers_path %>

	</div>
</div>
